-activity_html = capture do
  =image_for(activity.user, "45x45#", :class => 'cms-thumbnail')
  -if include_name == true
    -if activity.user
      %span="#{activity.text} by #{activity.user.full_name}"
    -else
      %span="#{activity.text} by deleted user"
  -else
    =activity.text.try(:capitalize)
    by
    %span=activity.user.full_name
  .small-text="#{time_ago_in_words(activity.created_at)} ago"
  .clearfix

%li
  -if activity.resource && !activity.resource.viewless?
    =link_to "/admin/content_packages/"+CGI.escape(activity.resource.permalink.full_path)+"/edit?compare1=#{activity.created_at.to_i}&compare2=#{activity.next.created_at.to_i}" do
      =activity_html
  -else
    =activity_html
