%fieldset
  %hr
  %h4.col-primary= t('.url', default: 'URL')
  = form.input :permalink_path, :prepend => content_package.parent && content_package.parent.respond_to?(:permalink_display_path) && Pig.configuration.nested_permalinks ? content_package.parent.permalink_display_path : '/'
  - if content_package.permalinks.inactive.any?
    %label= t('.inactive_permalinks', default: 'Aliases')
    %ul
    - content_package.permalinks.inactive.each do |permalink|
      %li
        = link_to permalink.full_path, '' + permalink.full_path, class: "col-primary"
        - if can?(:destroy, permalink)
          = link_to pig.admin_permalink_path(permalink), method: 'DELETE', data: { confirm: t('actions.confirm_permalink_destroy', in_use_for: time_ago_in_words(permalink.created_at)) }, class: 'pull-right' do
            %i.fa.fa-trash-o
  = form.input :short_permalink_path, prepend: '/', label: 'Add an alias'
