:javascript
  $(document).ready(function() {
    Pig.Redactor.init();
    $( ".autocomplete-select" ).combobox();
    SirTrevor.setDefaults({
      uploadUrl: $('#cms-style-container').data('sirTrevorUploadUrl')
    });
    $('.st-content').each(function() {
        new SirTrevor.Editor({
          el: $(this),
          blockTypes: $(this).data('blocktypes'),
          blockTypeLimits: $(this).data('blocktypelimits'),
          required: $(this).data('required')
        });
    });

    $('html, body').animate({ scrollTop: $('h1').position().top }, 0, "linear");

    $("#content_package_author_id").on("change", function(){
      role = $("option:selected", this).data("role");
      if (role === "author") {
        $("#content_package_status").val("draft")
      }
    });
    $("input.js-save-progress").on("click", function(e) {
      e.preventDefault();
      $("#content_package_submit_action").click();
    });

    $("#content_package_parent_id").combobox();
    $(".custom-combobox-input").attr('placeholder', 'Start typing to search');
  });

=semantic_form_for @content_package do |form|
  .container.page-margin-bottom{data: {sir_trevor_upload_url: upload_sir_trevor_attachment_content_package_path(@content_package)} }
    .row
      .col-xs-12
        .cms-page-header
          %h1=title @content_package
    .row
      .col-md-8
        -if @content_package.notes.present?
          .cms-well
            %label.col-primary Content objective/goal
            %p.mb-0=@content_package.notes
        %ul.cms-tabs
          %li.active
            =link_to('#content', 'data-toggle' => 'tab') do
              %i.fa.fa-paragraph
              %span Content
          %li
            =link_to('#meta', 'data-toggle' => 'tab') do
              %i.fa.fa-tag
              %span Meta
          -if Pig::config.tags_feature
            %li
              =link_to('#tags', 'data-toggle' => 'tab') do
                %i.fa.fa-tags
                %span Tags
          -if current_user.admin?
            %li
              =link_to('#settings', 'data-toggle' => 'tab') do
                %i.fa.fa-cog
                %span Settings
        #content.tab-pane.active
          .cms-form-well
            =form.inputs do
              -@non_meta_content_attributes.each do |content_attribute|
                /content_input is defined in config/initializers/formtastic_ext.rb
                =form.content_input content_attribute
        #meta.tab-pane
          .cms-form-well
            =form.inputs do
              =form.input :meta_title, hint: 'Meta title: aim for 70 characters'
              =form.input :meta_description, hint: 'Meta short description: Brief summary of the page, aim for 70 characters'
              =form.input :meta_keywords, hint: 'Meta keywords: comma separated'
              =form.input :meta_image, as: :image, hint: 'Meta images for facebook: Minimum size 600px x 315px, recommended size 1200px x 630px'
        -if Pig::config.tags_feature
          #tags.tab-pane
            .cms-form-well
              .row
                .col-xs-12
                  =form.inputs do
                    -@content_package.tag_categories.each do |category|
                      %button.collapse-trigger{"aria-expanded" => "false", "data-target" => "##{(category.name).parameterize}-collapse", "data-toggle" => "collapse", :type => "button"}
                        =category.name
                        -if category.taxonomy_list.present?
                          %i.fa.fa-caret-down.pull-right
                      %div{:id => ("#{(category.name).parameterize}-collapse"), :class => 'collapse'}
                        %ul.list-half
                          -category.taxonomy_list.each do |tag|
                            %li
                              .checkbox.m0
                                %label.m0
                                  =check_box_tag "content_package[taxonomy_tags][#{category.slug}][]", tag, @content_package.taxonomy_from(category).include?(tag)
                                  =tag
                          .clearfix
          -if current_user.admin?
            #settings.tab-pane
              .cms-form-well
                =form.inputs do
                  =form.input :content_type_id, :as => :hidden
                  =form.input :name
                  =form.input :notes, :label => 'Content objective/goal', :input_html => {:rows => 4}
                  .form-group#content_package_personas
                    %h4.col-primary Personas
                    %hr
                    -@persona_groups.each_slice(2) do |groups|
                      .row
                        -groups.each do |group|
                          .col-md-6
                            %h5.mb-1=group
                            =form.input :personas, :as => :check_boxes, :collection => group.personas, :label => false, :member_label => :to_s
                  .clearfix
                  =form.input :requested_by, :collection => User.where(:role => 'admin')
                  =form.input :due_date, :order => [:day, :month, :year], :include_blank => false, :start_year => Date.today.year
                  .form-group
                    %h4.col-primary Review frequency
                    .check_boxes
                      =form.input :review_frequency, :as => :radio, :collection => ContentPackage.review_frequencies.invert, :label => false
                .form-group
                  %h4.col-primary Page settings
                  %hr
                  =form.inputs do
                    =parent_content_package_select(form)
                    =form.input :permalink_path, :prepend => @content_package.parent && @content_package.parent.respond_to?(:permalink_display_path) && Pig.config.nested_permalinks ? @content_package.parent.permalink_display_path : '/' unless @content_package.viewless?
                    =form.input :slug if current_user.yoomee_staff?
                    =form.input :logged_in_only, :as => :content_boolean, :label => "Only logged in users can view this"
                    =form.input :hide_from_robots, :as => :content_boolean, :label => "Exclude from search engine indexing"

        .cms-sidebar-actions
          -if current_user.role == "author"
            =form.action :submit, :label => "Save Changes", :button_html => {:class => "btn btn-success js-save-progress pull-right"}
            =form.action :submit, :label => "Mark as ready to review", :button_html => {:class => "btn pull-right"}
          -else
            =form.action :submit, :label => "Save changes", :button_html => {:class => "btn btn-success pull-right"}
          .clearfix

      .col-md-4
        .cms-sidebar
          .cms-edit-status.cms-well
            %div{:class => ("hidden" unless current_user.role != "author")}
              %label{for: "content_package_author_id"} Assigned To
              =form.input :author_id, :as => :select, :collection => User.where("role<>''").order(:role, :last_name).map { |u| ["#{u.full_name} (#{u.role})", u.id, {:'data-role' => u.role }] }, :include_blank => true, :label => false
              %label{for: "content_package_status"} Status
              =form.input :status, :as => :select, :collection => ContentPackage.statuses(current_user).invert, :include_blank => false, :label => false
              #content_package_publish_at_fields{:class => content_package_publish_at_class}
                %label{for: "content_package_publish_at"} Publish at (optional)
                =form.input :publish_at, :as => :datepicker, :label => false
                .help-block{:class => @content_package.publish_at.present? ? '' : 'hidden'}
                  %p Page will be published but not shown to the public until this date.
          .clearfix
          %ul.cms-tabs
            %li.active=link_to("Context", '#context', 'data-toggle' => 'pill')
            %li=link_to("Activity", '#activity', 'data-toggle' => 'pill')
            %li=link_to("Personas", '#personas', 'data-toggle' => 'pill')
            -# %li=link_to("Discussion", '#discussion', 'data-toggle' => 'pill')
            -# %li=link_to("Scorecard", '#content-scorecard', 'data-toggle' => 'pill')
          .tab-content
            #activity.tab-pane.cms-well
              %ul.cms-activities.cms-activity-feed
                =render(partial: "content_packages/activity", collection: @activity_items, as: :activity, locals: {:include_name => true})
                / -@activity_items.each do |activity|
                /   =render("content_packages/activity", :include_name => true, :activity => activity)
              -if @activity_items.total_pages != @activity_items.current_page
                =link_to "See older activity", activity_content_package_path(@content_package), :remote => true, :class => 'btn btn-sm js-older-activities pull-right'
                .clearfix
            - if @content_package.personas.present?
              #personas.tab-pane.cms-well
                %label.col-primary Audience/personas
                -@content_package.personas.each do |persona|
                  -cache(persona) do
                    .cms-persona-box
                      .row
                        .col-sm-4
                          =image_for(persona, '120x120#')
                        .col-sm-8
                          %h4=persona
                          %p.small-text="Age #{persona.age}"
                          .btn.btn-xs.more-persona Read more
                      .persona-summary
                        %p
                          %em=persona.summary
                        -if persona.benefits.present?
                          %p
                            %strong="Goals for #{persona.name}"
                          %ul
                            -persona.benefits.each do |benefit|
                              %li=benefit
                        -if persona.file
                          =link_to("Download full persona", persona.file.url, :target => '_blank', :class => 'btn btn-sm', :icon => 'download')
            #context.tab-pane.active.cms-well
              %label.col-primary Content Package Id
              %p
                =@content_package.id
              %label.col-primary Template
              %p
                =link_to(@content_package.content_type, edit_content_type_path(@content_package.content_type))
              %label.col-primary Content requested by
              %p
                =@content_package.requested_by.try(:full_name)
            / #discussion.tab-pane.cms-well
            /   =render("discussion")
            / #content-scorecard.tab-pane.cms-well
            /   Not defined yet
